.hide {
  display: none;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  color: #555;
}

body {
  margin: 0px;
  background: linear-gradient(to bottom, #7bd7c7, white);
  height: 100vh;
}

h1 {
  color: #086375;
}

input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number] {
  width: 49%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn1 {
  border-radius: 4px;
  padding: 7px 14px;
  width: 100px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  color: #6bc7b7;
  border: 2px solid #7bd7c7;
  font-weight: bold;
}

.btn:hover {
  background-color: #7bd7c7;
  color: white;
}

.caja {
  width: 50%;
  min-width: 390px;
  height: 300px auto;
  margin: 0px auto;
  padding: 30px 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 1px 8px 1px rgba(77,77,77,0.47);
  text-align: justify;
}

.centrar {
  text-align: center;
}

nav {
  background-color: #ffffff;
  margin-bottom: 75px;
  box-shadow: 0 0 10px rgba(77,77,77,0.47);
  text-align: center;
}

img {
  height: 50px;
}
