.hide {
    display: none;
}

* {
    font-family: 'Roboto', sans-serif;
}

.btn1 {
    background-color: rgb(47, 117, 187);
    border: none;
    color: white;
    padding: 5px 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn2 {
    background-image: url("https://image.flaticon.com/icons/svg/126/126498.svg");
    background-repeat:no-repeat;
    background-position:center;
    padding: 12px 16px;
    border: none;
    width: 30px;
    height: 35px;
}

.btn2:hover {
    width: 35px;
    height: 37px;
}

.caja {
    width: 520px;
    height: 300px auto;
    margin: 50px auto;
    padding: 40px 30px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 1px 8px 1px rgba(77,77,77,0.47);
    text-align: justify;
}

.headerbox {
    background-image: url("https://lh3.googleusercontent.com/Dx28OF3J8lwyCHsKABarrtD4PEvE01isFMcsCdantXd90ewH2PR6Wutmz8uPoVPX4jP6HEXVJYXImo8LeuaMcwLS5t0cXhwLhc7o2d-xn9Ou9ArwqKq8RACD2e9BMBkDie1GxkgHOZzpYMLMA7pxE_2tTVAqEbDYcS_2pSLnC2DTE-C-LnrE1v3j47lg5mUTxqmWCsnOb4rg1DIdpTRi3lcHkXiIttDbw0Gv_5G94gg9dUra1CBXALxPvmy48QDvDEa9HeDzZPxyQwV1KFgqlJdKhI3M2QPRZ0tQ80eAfCDWhi9I9s0EJr9_GnM76gjXaGKWQ3kjS41Wg77JYMlVHzz7Rb0iPqlGfNoaLtjBzlr66ZfpHSKeg61Y75u_QzAewz1G5IK61PEWQQ5YPDgXFCOAOd-nVAtL2V1ONnygOorYpY3cIrU8zECCeShbEDZLb7dPwg0hl7-TETwq43cSiFDvvDMelEO-9_iss6932glVkciZz9tQGJv3lnJVthzCnd1OT1N8XnQqcL2rSgSHm8mGv5A251Rj_tbWZzYB-vKR3oLl9Z9Gk3evzwXqD6rHLJ8mWSUwBTdbPLI9IiXw4_veAyvmozVs4IuBVY4XB2drLUc_kpefHZ99SciS9F1gtaLyWR5PcKNV2cyknzhZRtlxEq1WEpJm94wwVT4uTuWMEw81nIaGly0=s500-no");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    padding: 12px 16px;
    border: none;
    height: 80px;
    margin: 0px auto;
    background-color: #75c2b4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}